.cd-Cur-main {
    /* margin-top: 40px; */
    padding: 10px;
    padding-top: 0px;
}
  
  .cd-table-title {
    font-family: 'Urbanist', sans-serif !important;
    font-size: 28px;
    color: #1a1729;
    margin-bottom: 20px;
  }
  
  .cd-table-container {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .cd-table {
    min-width: 100%;
  }
  
  .cd-header-cell {
    font-weight: bold !important;
    background-color: #fcf8ef;
    color: #333;
    font-family: 'Urbanist', sans-serif !important;
    font-size:20px !important;
  }
  
  .cd-week-cell {
    font-weight: 800  !important;
    font-family: 'Urbanist', sans-serif !important;
    color: #2c3e50 !important;
    font-size: 20px !important;
  }
  
  .cd-content-cell {
    font-family: 'Urbanist', sans-serif !important;
    color: black !important;
    line-height: 1.3 !important;
    white-space: pre-wrap !important; 
    font-size:20px !important;
    padding-left: 30px !important;
  }

  @media screen and (max-width: 480px){

    .cd-Cur-main{
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    .cd-content-cell{
      
      font-size: 16px !important;
    }

    .cd-content-cell {
      
      line-height: 1.3 !important;
      white-space: pre-wrap !important; 
      font-size:18px !important;
      padding-left: 0px !important;
    }
  
  }
  