.banner-root {
    position: relative;
    background-color: #fcf8ef !important;
    /* padding: 64px 16px; */
    height:400px;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.banner-title {
    font-weight:600 !important;
    color: #1A1729  !important;
    font-family: 'Urbanist', sans-serif !important;
    font-size: 70px  !important;
    margin-top: 20px !important;
}

.banner-breadcrumb {
    color: #6b647b;
    margin-top: 8px;
    font-family: 'Urbanist', sans-serif;
}

.decor-icon {
    position: absolute;
    opacity: 0.6;
}

.circle {
    bottom: 10%;
    left: 5%;
    color: gold;
    font-size: 40px;
}

.zigzag {
    top: 10%;
    left: 15%;
    color: #00aa99;
    font-size: 40px;
}

.blur {
    top: 5%;
    right: 5%;
    color: #fbc02d;
    font-size: 40px;
}

.triangle {
    bottom: 10%;
    right: 10%;
    color: purple;
    font-size: 40px;
    transform: rotate(45deg);
}

.dots {
    top: 45%;
    left: 2%;
    color: #ffca28;
    font-size: 35px;
}

.cert-list{
    width:90%;
    margin: 30px auto 30px auto;
    padding: 20px 20px 20px 20px;
}

  .cd-table-container {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .cd-table {
    min-width: 100%;
  }
  
  .cd-header-cell {
    font-weight: bold !important;
    background-color: #fcf8ef;
    color: #333;
    font-family: 'Urbanist', sans-serif !important;
    font-size:25px !important;
    text-align: center !important;
  }
  
  .cd-week-cell {
    text-align: center !important;
    font-weight: 800  !important;
    font-family: 'Urbanist', sans-serif !important;
    color: #2c3e50 !important;
    font-size: 23px !important;
  }
  
  .cd-content-cell {
    font-family: 'Urbanist', sans-serif !important;
    color: black !important;
    line-height: 1.3 !important;
    white-space: pre-wrap !important; 
    font-size:20px !important;
    padding-left: 30px !important;
  }

