.course-card {
  max-width: 500px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  font-family: 'Urbanist', sans-serif !important;
  background-color: #fff;
  /* margin: 1rem auto; center on small screens */
}

.course-image {
  width: 90%  !important;
  height: auto;
  margin: 10px auto !important;
  /* padding: 10px auto 10px auto !important; */
  max-height: 400px;
  object-fit: cover;
  display: block;
  margin: 0;
  background-color: #f0f0f0;
  border-radius: 20px; /* Keep flat for edge-to-edge look */
}

.price-badge {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #8e2de2;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  text-align: center;
  line-height: 28px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.course-content {
  padding: 16px;
}

.course-header {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}
.author-avatar {
  width: 60px !important;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.author-name {
  font-weight: 600 !important;
  font-size: 18px   !important;
  color:#1a1729 !important;
}

.course-title {
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0;
  color: #1a1729;
}

.course-description {
  font-size: 19px !important;
  color: #282828;
  overflow: hidden;
  max-height: 60px;
  transition: max-height 0.3s ease;
  line-height: 1.5;
  font-weight: 500 !important;
}

.course-description.expanded {
  font-size:inherit;
  max-height: 500px;
}

.toggle-description-btn {
  background: none;
  border: none;
  color: #221e31;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 0;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

.course-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  font-size: 14px;
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.course-link {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .course-card {
    max-width: 90%;
    margin: 1rem auto;
  }

  .course-title {
    font-size: 16px;
  }

  .price-badge {
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    font-size: 12px;
    line-height: 20px;
  }
}

@media (max-width: 480px) {
  .course-card {
     width: 100% !important;
    padding: 0px !important; 
  }

  .course-header {
    flex-direction: row;
    align-items: center;
  }

  .course-title {
    font-size: 19px !important;
  }

  .course-description {
    font-size: 15px !important;
  }

  .author-name {
    font-weight: 600 !important;
    font-size: 15px   !important;
    color:#1a1729 !important;
  }
}
